  
.header {
    width: 100%;
}

.body {
    background-color: rgb(200, 205, 215);
    min-height: calc(100vh - 70px); 
    padding: 20px;
    box-sizing: border-box;
}

.container{
    background-color: rgb(255, 255, 255);
    height: calc(100vh - 180px); /* Adjust as needed */
    margin: 30px 250px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    min-width: 520px;
}
.head{
    padding: 20px;
    /* width: fit-content; */
    font-size: 1.5rem;
    font-weight: 900;
    border-bottom: .5px solid rgb(220, 220, 220);
    display: flex;
    flex-direction: row;
}
.head-text{
    background: linear-gradient(#6abaff, #720893);
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    width: fit-content;
    padding-right: 10px;
    border-right: .5px solid rgb(121, 120, 120);
}
.add-product{
    font-size: 1rem;
    font-weight: 400;
    padding: 5px;
    padding-left: 15px;
}
.product-info{
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-right: 18%;
    padding-bottom: 50%;
    /* border-right: .5px solid rgb(121, 120, 120); */

}
.product-info span{
    width: 25px; 
    height: 3px;
    background-color: rgb(138, 138, 255);     
    margin-right: 9px;
    border-radius: 20px;
}
.container-body{
    display: flex;
    color: rgb(83, 83, 83)
}
  .form-section {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  textarea {
    width:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 50px;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .feature-item input {
    flex: 1;
    margin-right: 5px;
  }
  
  button[type="submit"],
  button[type="button"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
  }
  
  button[type="button"] {
    background-color: #6c757d;
    color: white;
  }
  
  button[type="button"]:hover,
  button[type="submit"]:hover {
    opacity: 0.8;
  }
